h1{
    color: #1d3557;
}
ul{
    list-style-type: none;
    background-color:#457b9d;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}
li{
    float: left;
}
li a{
    display: block;
    color:white;
    text-decoration: none;
    text-align: center;
    padding: 15px;
}
li a:hover{
    background-color: #1d3557;
}